<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >
    <link
      name="table">
      <inertial>
        <origin
          xyz="0.2005 -0.20049 -0.41445"
          rpy="0 0 0" />
        <mass
          value="524.11" />
        <inertia
          ixx="54.974"
          ixy="8.9479E-07"
          ixz="-3.4714E-08"
          iyy="54.792"
          iyz="2.9131E-08"
          izz="55.153" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lego_robot_description/meshes/table/table.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://lego_robot_description/meshes/table/table.STL" />
        </geometry>
      </collision>
    </link>
</robot>
